* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
body {
    width: 1280px;    
    background: rgba(26, 26, 26, 0.80);
    backdrop-filter: blur(10px);
    font-style: normal;
    line-height: normal;
    font-family: sans-serif;
}

.header {    
    padding-top: 13px;
    padding-bottom: 13px;    
    padding-left: 64px;    
}
#main {
    padding: 31px 64px 31px;    
}
h1 {
    color: #FFF;    
    font-size: 30px;    
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}
.playlist-content {
    width: 570px;
    height: 540px;
    border-radius: 4px;
    background: #1C1C1C;
}